
.brands_logo{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .brands_logo_list{
    max-width: 817px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 100px;
    padding:43px 127px 45px 98px;
    
    
  }
  
  .brands_logo_list__img {
    max-width: 200px;
  }