
.banner {
    background-color:#000;
    color: #FFF;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    padding: 9px 100px 12px;
  }
  
  .banner_menu {
    display: flex;
    align-items: center;
    text-align: center; 
  }
  .banner p {
    flex-grow: 1; 
    margin: 0;
  }
  
  .banner .sign-up {
    text-decoration: underline;
    font-weight: 500;
    color: #FFF;
  }
  
  .banner .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute; 
    right: 100px;
    top: 6px; 
  }