body {
  margin: 0;
  font-family: Arial, sans-serif;
}

p, u, h1, h3, h5, ul, ol, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}



